/* Header CSS */
header .navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}
.showMore{
  display: flex;
  align-items: center;
  justify-content: center;
}
.showMoreText{
  color: white;
  font-size: larger;
  font-weight: 500;
  border: 1px solid red;
  background-color: red;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.showMoreText:hover{
  background-color: rgb(201, 23, 23);
}
.GoogleMap{
  border-radius: 10px;
}
.ModalMap{
  border: 1px solid gray;
  border-radius: 50px;
  padding-left: 35px;
  height: 40px;
  width: 100%;
  outline: none;
}
.form-control{
  outline: none;
}
.locate{
  position: relative;
  color: rgb(45, 39, 39);
  right: 30px;
}
.modalDiv{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ModalIcon{
  position: relative;
  left: 30px;
  color: gray;
}
.inputBox{
  border-radius: 50px;
  border: 1px solid white;
  padding-left: 35px;
  height: 40px;
  outline: none;
  padding-right: 20px;
  width: 300px;
  
}
.map{
  position: relative;
  left: 30px;
  bottom: 2px;
  color: gray;
}
.wallettext{
  position: relative;
  top: 8px;
}
.wallet{
  position: relative;
  right: 5px;
}
header .navbar.sticky .inputBox{
  border: 1px solid black;
}

header .navbar.sticky {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--white);
  -webkit-transition: all 15ms ease-in-out;
  -moz-transition: all 15ms ease-in-out;
  -o-transition: all 15ms ease-in-out;
  -ms-transition: all 15ms ease-in-out;
  transition: all 15ms ease-in-out;
  animation-name: stickyTransition;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
  box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
  height: 80px;
    backdrop-filter: blur(5px);
    background: transparent;
    background-color: #ffffff9c;
}
@keyframes stickyTransition {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

header .logo img {
  width: auto;
  max-width: inherit;
  max-height: 80px;
}
header .nav-link {
  display: inline-flex;
  justify-content: center;
  color: var(--white);
  padding: 0 1rem !important;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: var(--oswald-font);
  text-transform: uppercase;
  -webkit-transition: all 15ms ease-in-out;
  -ms-transition: all 15ms ease-in-out;
  -o-transition: all 15ms ease-in-out;
  -moz-transition: all 15ms ease-in-out;
  transition: all 15ms ease-in-out;
}
.login{
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  left: 70px;
  bottom: 10px;
}
.login:hover{
  background: transparent;
  cursor: pointer;
  backdrop-filter: blur(8px);
}
header .sticky .nav-link {
  color: var(--light-black);
}
header .sticky .login{
  position: relative;
  top: 0;
}
header .sticky .login:hover {
background-color: rgb(227 0 14);
}
header .sticky .nav-link:hover {
  color: red;
  font-size: larger;
  position: relative;
  bottom: 3px;
}
header .nav-link:hover {
  color: var(--yellow);
}
header .cart {
  position: relative;
  top: 2px;
}
header .roundpoint {
  width: 16px;
  height: 16px;
  background: var(--light-red);
  border-radius: 50%;
  color: var(--white);
  font-size: 11.2px;
  line-height: 16px;
  text-align: center;
  font-style: normal;
  position: absolute;
  top: 3.2px;
  right: -8px;
}

/* Media Query CSS */
@media (min-width: 993px)and (max-width:1024px) {
    .login{
      position: relative;
      left: 0;
    }
}

@media (max-width: 992px) {
  header .navbar {
    background-color: var(--white);
    height: auto;
  }
  header .sticky.navbar {
    height: auto;
  }
  .login{
    position: relative;
    left:10px;
    height: 45px;
    top: 0px;
  }
  .text{
    position: relative;
    top: 3px;
  }
  header .navbar-toggler {
    border: none;
  }
  header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  header .navbar-toggler-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  header .nav-link {
    color: var(--light-black);
    padding: 1rem !important;
  }
}

@media (max-width:768px) {
  .mainsearch{
    border: 1px solid gray;
    border-radius: 50px;
  }
    .text{
      position: relative;
      left: 40%;
    }  
    .login:hover{
      background-color: rgba(205, 40, 40, 0.742);
    }
    .login{
      position: relative;
      left:0px;
    }
}
@media (min-width:425px) and (max-width:768px) {
  .mainsearch{
    border: 1px solid gray;
    border-radius: 50px;
  }
    .text{
      position: relative;
      left: 46%;
    }  
    .login:hover{
      background-color: rgba(205, 40, 40, 0.742);
    }
}
